##autotools output

Makefile.in
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
stamp-h1

##configure output

.deps/
Makefile
config.h
config.log
config.status

##make output

*.[ao]
/src/dosbox

##misc
*~
